* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.App h1 {
  font-family: "East Sea Dokdo", cursive;
  font-size: 5rem;
  text-align: center;
}

.todo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 400px;
  height: 60px;
  background-color: blanchedalmond;
  border: 0.5px rgba(66, 66, 66, 0.6) solid;
  font-size: 20px;
}

.AddTodo input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.TodoList ul {
  list-style-type: none;
}
